
.fromSection{
display: flex;
width: 100%;
justify-content: center;
flex-direction: column;
background-color: #F5F5F5;
}

.formCOntainer{
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1.5rem;
}

.formClass{
    display: flex;
    padding: 3rem;
    background-color: #fff;
    flex-direction: column;
    gap: 2rem;

}

.formClass h2{
    padding-bottom: .2rem;
}

.formClass hr{
    width: 100%;
    height: 1px;
    border: none;
    background-color: #F5F5F5;
}

.NumberType{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.titleSection{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.titleSection input{
    width: 100%;
    height: 40px;
    border: 1px solid #F5F5F5;
    border-radius: 5px;
}

.carPark{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.carPark input{
    width: 50%;
    height: 40px;
    border: 1px solid #F5F5F5;
    border-radius: 5px;
}

.textAreaField{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.textAreaField textarea{
    width: 100%;
    height: 300px;
    background-color: #F5F5F5;
    border: none;
}

.locationSection{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
}

.locationHead {
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.mapSection{
    margin-top: 1rem;
    width: 100%;
    max-width: 500px;
 align-self: center;
 overflow: hidden;
}

.nearbySection{
    display: flex;
    justify-content: space-between; 
    flex-direction: column;
    gap: 1rem;
}

.remove {
    width: 10%;
    height: 40px;
    align-self: flex-end;
    background-color: #0D1432;
    border: none;
}

.nearbyPlace{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: space-between;
}

.add{
    width: 4rem;
    background-color: aquamarine;
    border: none;
    height: 40px;
}

.securtySection{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.security{
    display: flex;
    width: 100%;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.security p{
    width: 50%;
}

.security input{
    justify-self: start;
    width: 50%;
    height: 40px;
    align-self: flex-start;
}

.textAreaFieldSection{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.textAreaFieldSection textarea{
    width: 100%;
    height: 30px;
    background-color: #F5F5F5;
    border: none;
}

.buttonSection{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
    background-color: #F5F5F5;
    height: 70px;
    align-items: center;
}

.buttonSection input{
    width: 30%;
    height: 50px;
    background-color: aquamarine;
    border: none;
    border-radius: 5px;
}

.photos-video{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
    }
    .container {
    margin-left: auto;
    margin-right: auto;
    }
    .custom-file-input {
    width: 100%;
   
    }
    .custom-file-input::before {
    content: "Drag and Drop to Add Photo (770 x 390)";
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    border-style: dashed;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
    }
    .custom-file-input:hover::before {
    border-color: black;
    }
    .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
    }

    .preview-container{
        width: 100%;
        display: flex;
        gap: 1rem;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }

    .imageFile{
        width: 100px;
        height: 100px;
    }