.authenticate-navbar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 110px;
    justify-content: center;
    flex-direction: column;
    background-color: var(--silver-background);
}

.authenticate-navbar div{
    width: 100%;
    max-width: 1300px;
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.authenticate-navbar div h1{
    font-family: var(--carmata);
    font-weight: 700;
    font-size: 33px;
    line-height: 28px;
    color: var(--black);
    text-transform: capitalize;
}

.home-link{
    text-decoration: none;
    color: var(--black);
    font-family: var(--muli);
}

.authenticate-navbar div p{
    font-family: var(--muli);
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: var(--green);
}

.authenticate-navbar-link{
    display: flex;
    list-style: none;
    padding: none;
    align-items: center;
}

.authentcation-section{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.authenticate-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1300px;
    padding: 3rem 5rem;
    gap: 2rem;
}

.welcome-container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 60%;
}

.welcome-section{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.tickbox{
    color: var(--green);
}

.welcome-section h1{
    font-family: var(--carmata);
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    color: var(--black);
}

.welcome-section p{
    font-family: var(--muli);
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: var(--text-siler);
}

.check-section{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.check-section h2{
    font-family: var(--carmata);
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: var(--black);
}

.check-container{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    list-style: none;
    font-family: var(--muli);
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: var(--text-siler);
}

.check-container li{
display: flex;
gap: 1rem;
width: 100%;
max-width: 300px;
align-items: flex-start;
}

.authenticate-section{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 40%;
}

.navbar-Sider{
    display: flex;
    gap: 1rem;
    list-style: none;
    font-family: var(--muli);
    font-weight: 700;
    font-size: 15px;
    line-height: 28px;
    color: var(--black);
}

.navbar-Sider hr{
    height: 2px;
    border: none;
    width: 27px;
    margin-top: 2px;
    background-color: var(--green);
}

.signup-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.signup-form label {
 display: flex;
 flex-direction: column;
 gap: .5rem;
 font-size: 15px;
 font-family: var(--muli);
 font-weight: 700;
 line-height: 28px;
 color: var(--text-siler);
}

.singup-input{
    width: 100%;
    height: 50px;
    background-color: var(--silver-background);
    font-family: var(--muli);
    font-weight: 400;
    border: none;
    border-radius: 5px;
    padding: 0 5px;
    color: var(--text-siler);
}

.button-submit{
    width: 5rem;
    height: 50px;
    background-color: var(--green);
    border: none;
    border-radius: 5px;
    font-family: var(--muli);
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-submit:hover{
    cursor: pointer;
    background-color: #3ae69c;
    transition: ease-in-out .4s;
}